<template name="inputForm">
  <div class="row inputRow">
    <form class="info-link-add">
      <div class="col s12 m4">

        <input type="text" name="title" placeholder="Account Name" required>
      </div>
      <div class="col s12 m4">
        <input type="text" name="amount" placeholder="Amount" required>
      </div>
      <div class="col s12 m4">
        <input type="date" name="date" class="datepicker">
      </div>
      <input class="waves-effect purple lighten-3 btn" type="submit" name="submit" value="Add New Account">

    </form>
  </div>
</template>