<template name="nav">
  <nav class="light-red lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><h4>PAYMENTS</h4></a>

        <ul class="right hide-on-med-and-down">
          <li><a href="#">{{> loginButtons}}</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li><a href="/reports">Monthly Reports</a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li><a href="/">Accounts</a></li>
        </ul>




      </div>
    </nav>
</template>