@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
word-wrap: normal;
-webkit-font-feature-settings: 'liga';
-webkit-font-smoothing: antialiased;
}

div.section {
  padding-top: 0px!important

}

.inputRow {
  width: 70%!important
}

.dropdown-content {
  width: 340px!important
}

.dropdown-button {
  margin-right: 0px!important;
  padding-right: 0px!important
}

h4.titles {
  font-weight: bold;
  font-size: 23px
}

input.datepicker {
  color: grey
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #0CC162;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #BBBBBB;
}

div.ct-chart2.ct-perfect-fourth {
  height: 150px!important
}

div.ct-chart.ct-perfect-fourth {
  height: 200px!important
}
