<template name="monthlyTotals">

    {{#if aggregate}}
    <br>

      <span><h4>Monthly Totals</h4><p>totals in a given month</p></span>
    <table>
      <thead>
        <tr>
          {{#each aggregate}}
          <th>{{month}} {{year}} </th>
          <!-- <th>Item Name</th> -->
          {{/each}}
        </tr>
      </thead>

      <tbody>
        <tr>

          {{#each aggregate}}
          <!-- <td>{{_id}}</td> -->
          <td>{{total}}</td>
          {{/each}}
        </tr>

      </tbody>
    </table>
    {{else}}
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <div class="preloader-wrapper big active center-align">
        <div class="spinner-layer spinner-blue-only center-align">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
</template>
