<template name="info">
<div class="container">
  <br>
  <div class="input-field">
    <input  class="form-control" name="search" id="search" type="search" required>
    <label for="search"><i class="material-icons">search</i></label>
  </div>
  {{#if searching}}
  <p class="absolute">Searching...</p>
  {{/if}}
  <br>
  <br>
  <br>
  {{> inputForm}}
  <div class="section">
    <div class="right-align">
      <div  class="white-text purple lighten-2 chip">
        Total Revenue: {{revenueCount}}
      </div>
    </div>
    <ul>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Account Name</th>
            <th>Date Received</th>
            <th class="right-align">Amount</th>
          </tr>
        </thead>
        <tbody>
          {{#transition in="fadeIn"}}
          {{#each accounts}}
          <tr class="animated out">
            <td> <a onclick="Materialize.toast('Removed {{name}}', 2000)" class=" btn-floating btn-tiny waves-effect waves-light purple lighten-3 btn-remove"><i data="{{_id}}" class="material-icons">close</i></a></td>
            <td>{{name}}</td>
            <td>{{date}}</td>
            <td class="right-align">{{amount}}</td>
          </tr>
          {{else}}
          <p class="alert alert-warning">Nothing found for <b>{{query}}.</b>    Sorry!.</p>
          {{/each}}
          {{/transition}}
        </tbody>
      </table>
    </ul>
  </div>
</div>
</template>